body {
    font-family: 'Calibri';
    background-color: #fcfcfc;
}

.container {
    width: 640px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#my-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid rgb(194, 194, 194);
    margin-bottom: 5px;
}

#my-table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#my-table tr th:nth-child(1) {
    width: 35%;
}

#my-table tr th:nth-child(2) {
    width: 65%;
}

#my-table th, #my-table td {
    padding: 10px;
    border: 1px solid rgb(194, 194, 194);
    text-align: left;
}

#my-table th {
    background-color: #34558b;
    color: white;
}

#my-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#my-table td a {
    text-decoration: none;
    color: black;
}

#my-table tr {
    background-color: white;
    cursor: pointer;
}

#my-table tr:hover {
    background-color: rgb(230, 230, 230);
    transition: ease-in-out 0.2s;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }

    #my-table th, #my-table td {
        font-size: 14px;
    }
}