body {
    font-family: 'Calibri';
    background-color: #fcfcfc;
}

.container {
    width: 650px;
    margin: 0 auto;
}

#title {
    text-align: center;
    user-select: none;
}

#my-input {
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    border: 1px solid rgb(209, 209, 209);
    margin-bottom: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#my-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#my-table .header th {
    background-color: #34558b;
    color: #ffffff;
    text-align: left;
}

#my-table .header th:nth-child(1) {
    border-top-left-radius: 8px;
    width: 35%;
}

#my-table .header th:nth-child(2) {
    border-top-right-radius: 8px;
    width: 65%;
}

#my-table th,
#my-table td {
    padding: 12px 15px;
    text-align: left;
}

#my-table tr {
    border-top: 1px solid rgb(182, 182, 182);
    background-color: white;
    cursor: pointer;
}

#my-table tr:nth-child(1) {
    border-top: none;
}

#my-table tr:hover {
    background-color: rgb(230, 230, 230);
    transition: ease-in-out 0.2s;
}

#my-table tr:last-of-type td:nth-child(1) {
    border-bottom-left-radius: 8px;
}

#my-table tr:last-of-type td:nth-child(2) {
    border-bottom-right-radius: 8px;
}

#my-table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#my-table td a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }

    #my-table th, #my-table td {
        font-size: 14px;
    }
}